{% extends "base.html" %}
{% block content %}
<section class="card">
    <h2>{{ lang_data.index_welcome }}</h2>
    <p>{{ lang_data.index_desc }}</p>
    <ul>
        <li>{{ lang_data.index_feat_otp }}</li>
        <li>{{ lang_data.index_feat_hash }}</li>
        <li>{{ lang_data.index_feat_lockout }}</li>
        <li>{{ lang_data.index_feat_audit }}</li>
    </ul>
    <div class="button-row">
        <a class="btn" href="{{ url_for('register') }}">{{ lang_data.register }}</a>
        <a class="btn alt" href="{{ url_for('login') }}">{{ lang_data.login }}</a>
    </div>
</section>
{% endblock %}
